.inputWithButton {
  position: relative;
  height: 100px;
  width : 200px;
}

.inputWithButton input{
    width: 500%;
    height: 25px;
    margin-left:10%;
    border-color:#80A5EE;
    border:'4px solid';
    margin-top:5%;
    font-size: 20px;
}

.First{
  border: 2px solid #80A5EE;
  height:200px;
  width:512%;
  margin:20px;
  overflow-y:scroll;
}
.inputWithButton button {
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #80A5EE;
  border: none;
  border-radius: 5px;
  position: absolute;
  margin-left:470%;
  top:1px;
  margin-top:5%;
}