.label_s{
    font-size:large;
    font-weight: normal;
}

.heading{
    text-align: center;
    font-size:40px;
    font-weight: bold;
    color: #F1757A;
    margin-bottom: 30px;
    width: 100%;
    margin-top: 30px;
}

.button_s{
    background-color: #80A5EE;
    border-color: #80A5EE;
    width: 100%;
}

.question{
    margin-top: 50px;
}


.label_radio{
    font-size: large;
}
